$black: #2c3e50;
$gray: #606266;
$dark-gray: darken($gray, 20%);
$light-gray: lighten($gray, 10%);
$gray-background: rgb(249, 244, 246);
$gray-border-color: #dddddd;
$table-border-color: #b0b0b0;

$blue: #26a2ff;
$filter-primary: invert(43%) sepia(96%) saturate(722%) hue-rotate(179deg) brightness(103%) contrast(101%);
$filter-green: invert(66%) sepia(62%) saturate(400%) hue-rotate(101deg) brightness(85%) contrast(86%);
$primary-color: $blue;
$primary-hover-color: #66b1ff;
$white: beige;

$small-font-size: 13px;
$font-size-print: 10px;
$font-size-large-print: 9px;
$font-size-x-large-print: 15px;
$small-font-size-print: 8.5px;

$red: red;
$green: #42b983;
$light-green: lighten($green, 25%);

$orange: rgb(239, 65, 54);

$icon-button-width: 40px;

$margin-right: 10px;

$margin-top: 20px;
$margin: 30px;

$padding: 6px;

$border-radius: 6px;
$list-cell-borders: solid 1px $gray-border-color;

$viewport-width: 769px;

%list-cell-bordered {
     border-top: $list-cell-borders;
     border-bottom: $list-cell-borders;
 }

@mixin primary-link($onlyHover: false) {
    cursor: pointer;
    @if $onlyHover == false {
        color: $primary-color;
    }
&:hover {
     color: $primary-hover-color;
 }
}
